<div class="container mt-5">

    <h2>Return & Refund Policy of <span class="website_url">bitprint.io</span></h2>

    <p>If you are not happy with your purchase, we will accept a return of a unused product within 14 days. Once we receive the returned item <span class="website_name">Bitprint</span> will then give a full refund (excluding shipping as we are unable to refund the initial shipping cost of your order).</p>
    
    <p>Please allow 1-2 weeks for your return to be processed.</p>
    
    <p>Discounted items are not eligible for a return.</p>
    
    <p><span class="website_name">Bitprint</span> will not issue refunds for products purchased through other entities, such as distributors or retail partners.</p>
    
    <p>Returned items must be delivered to us unused, in original packaging and in the condition they were received or may not be eligible for refund or be subject to a restocking fee. We cannot be held responsible for items damaged or lost in return shipment, therefore we recommend an insured and trackable mail service.</p>
        
    <p>We are unable to issue a refund without actual receipt of the item(s) or proof of received return delivery.</p>
    
    <p>We aim to accept all returns. In the unlikely event that an item is returned to us in an unsuitable condition, we may have to send it back to you. All goods will be inspected on return.</p>

    <p>A refunt wallet address must be provided for refund payment. Payments will be made in currency used for purchace. Bitprint takes no responsiblity for lost funds during the refund process due to mishandling of crypto addresses or wallets by the buyer.</p>

    <p>You claim responabilty for any currency that may be lost due to use of a purchaced item correctly or incorrectly and understand that such funds will not be refunded.</p>

    <p>If you require a refund, please reach out to <a routerLink="/support">support</a>.</p>

</div>