<div class="container mt-5">
    <h2>About Us</h2>

    <p>The we had an idea: what if we wrote an API and utilized OpenSCAD to generate customizable CAD models? People would be able to visit the site and customize their version of the product and we could print it for them, or they could download the STL. That is how this site was born</p>

    <p>We started first with business cards because we had a cool design. We hope you like it as well!</p>

    <p>Thank your for visiting!</p>

    <p>You can contact us <a routerLink="/support">here</a>.</p>
    
</div>