<div class="container mt-5">
  <div class="row">
    <div class="col-md-6" [attr.height]="imgSize">
      <h3>Preview</h3>
      <img
        [src]="imageToShow"
        *ngIf="!isImageLoading; else noImageFound"
        class="img-fluid mainImg"
      />

      <ng-template #noImageFound>
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>

      <br />
    </div>
    <div class="col-md-6 input">
      <h3>The Bitprint Business Card</h3>
      <p>by Bitprint</p>
      <hr />
      <h6>Price: <span class="text-success">$10.00</span></h6>
      <p>Free shipping!</p>

      <p class="mt-3">
        A 3D printed personal business card. Web presence in your
        physical wallet! Learn more about the card below.
      </p>
      <hr />
      <h4>Customize</h4>
      <p>
        Enter your web receive address to be encoded in the QR code and NFC tag and name
        or alias to be marked on the bottom. Click the "Generate" button to
        <!-- preview your card. -->
      </p>
      <form class="picForm mt-3" [formGroup]="generateForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >QR Code</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Web address"
            formControlName="address"
            #address
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Card Text</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Name or alias"
            formControlName="name"
            #name
          />
        </div>



        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="country">Primary Color</label>
            <select class="custom-select d-block w-100" id="primaryColor" #primaryColor formControlName="primaryColor" required>
              <option value="White">White</option>
              <option>Black</option>
              <option>Purple</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="secondaryColor">Secondary Color</label>
            <select class="custom-select d-block w-100" id="secondaryColor" #secondaryColor formControlName="secondaryColor" required>
              <option value="Black">Black</option>
              <option>White</option>
              <option>Purple</option>
            </select>
          </div>
        </div>
      
        <div class="alert alert-warning" role="alert" *ngIf="backgroundWarning">
          If the primary color is darker than the secondary color, some QR scanners may not pick up the QR code. Use at your own risk!
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="conflictingColors">
          You can not choose two of the same colors!
        </div>

      </form>

      <hr />
      <button
        class="btn btn-primary"
        (click)="getImage()"
        [disabled]="!generateForm.valid"
      >
        Generate Your Card
      </button>

      <ng-container *ngIf="auth.user$ | async as user">
        <button
          class="btn btn-secondary ml-3"
          (click)="addToCart()"
          *ngIf="
            user.paymentStatus != 'charge:pending' &&
            user.paymentStatus != 'charge:created'
          "
        >
          Add To Cart
        </button>

        <br>
        
        <a
          class="btn btn-warning checkout mt-3 mr-3"
          routerLink="/checkout"
          *ngIf="user.cart.length > 0"
        >
          Checkout
        </a>
      </ng-container>

      <button
        class="btn btn-secondary generate mt-3 mr-3"
        (click)="getStl(name.value, address.value)"
        *ngIf="(auth.user$ | async) && !isStlLoading"
      >
        Generate Stl
      </button>

      <ng-container *ngIf="stlToDownload != null && stlToDownload != ''">
        <a
          class="btn btn-secondary download mt-3 mr-3"
          [href]="stlToDownload"
          *ngIf="!isStlLoading"
        >
          Download Stl
        </a>
      </ng-container>

      <ng-container *ngIf="isStlLoading">
        <button class="btn btn-secondary mt-3 mr-3" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Download Stl
        </button>
      </ng-container>

    </div>
  </div>

  <h2> <a id="description mt-5">About the card</a></h2>
  This product is 3D printed in our facility using PLA filament and a .4 nozzle. See the features below.
  <hr>

  <div class="row mt-5">

    <div class="col-md-6 text-right">
      <img src="/assets/img/final4.png" alt="" class="description_image">
    </div>

    <div class="col-md-6 mr">
      <h3>QR Code and Name</h3>
      <p>Your name or alias will be printed at the bottom of the card along with a raised QR code. Scanning the QR code will bring the user to your address.</p>
      <p>Same dimensions as a standard credit card.</p>
    </div>

  </div>

  <div class="row mt-3">

    <div class="col-md-6 text-right">
      <img src="/assets/img/nfc.png" alt="" class="description_image">
    </div>

    <div class="col-md-6 mr">
      <h3>NFC</h3>
      <p>Your card will be 3D printed in the two colors chosen. Embedded in the print is a standard NFC tag. We will preload your address onto it, but it can be easily written to with a standard NFC capable phone. Users can tap your card to instantly bring up your address.</p>
    </div>

  </div>

</div>
