<mat-form-field>
  <mat-label>Address</mat-label>
  <input matInput #address />
</mat-form-field>

<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput #name />
</mat-form-field>

<button
  mat-button
  color="primary"
  (click)="getImage(name.value, address.value)"
>
  Refresh Image
</button>
<button
  mat-button
  color="primary"
  (click)="getStl(name.value, address.value)"
>
  Generate Stl
</button>

<img
  [src]="imageToShow"
  alt="Place image title"
  *ngIf="!isImageLoading; else noImageFound"
  [attr.width]="'500px'" [attr.height]="'500px'"
/>
<ng-template #noImageFound>
  <mat-spinner></mat-spinner>
</ng-template>



<ng-container *ngIf="(stlToDownload != null) && (stlToDownload != '')">
  <a
  mat-button
  color="warning"
  [href]="stlToDownload"
  *ngIf="!isStlLoading; else noStlFound"
  >
  Downlaod Stl
  </a>
</ng-container>


<ng-container *ngIf="isStlLoading">
  <mat-spinner></mat-spinner>
</ng-container>


